* {
    margin: 0;
    padding: 0;
}
#header {
    width: 100%;
    height: 100vh;
    position: relative;
}
#header>img {
    width: 100%;
    height: 100%;
object-fit: cover;
}
#nav {
width: 840px;
height: 50px;
background-color: black;
position: absolute;
top: 30px;
left: 27%;
}
#nav ul {
    display: flex;
    justify-content: space-between;
}
#nav ul li {
    width: 120px;
    height: 50px;
    list-style: none;
    text-align: center;
    line-height: 50px;
}
#nav li img {
    width: 120px;
    height: 50px;
}
#nav li a {
    text-decoration: none;
    color: orange;
    font-size: 14px;
}
.detail {
    width: 980px;
    height: 50px;
    margin: 80px auto;
}
.detail .top {
    width: 100%;
    height: 30px;
    font-weight: 600;
}
.detail .top .left {
    float: left;
    width: 500px;
}
.detail .top .right {
    float: right;
}
.detail .left span {
    margin-left: 20px;
}
.detail .left span:nth-child(2){
    border-left: 2px solid red;
    border-right: 2px solid red;
    padding: 0 15px;

}
.text ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.text ul li {
    width: 24%;
    height: 120px;
}
.text ul li h2 {
    text-align: center;
    background-color: orange;

}
.text ul li img {
    width: 100%;
}
